.custom-navbar {
    background-color: #ffffff;
    padding: 1.4rem 0;
    min-height: 85px;
    border-bottom: 1px solid #eee;
}


.brand-text {
    font-size: 2rem;
    color: #E63946 !important;
    letter-spacing: 1px;
}

.brand-icon {
    font-size: 1.8rem;
    color: #E63946;
}

.custom-link {
    color: #333 !important;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s ease;
}

.custom-link:hover {
    color: #E63946 !important;
}



footer {
    background-color: #ffffff;
    border-top: 1px solid #eee;
    padding: 2rem 0;
    margin-top: 60px;
}

.f-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.f-info-socials a {
    color: #555;
    font-size: 1.4rem;
    margin: 0 12px;
    transition: 0.3s ease;
}

.f-info-socials a:hover {
    color: #FF385C;
    transform: translateY(-3px);
}

.f-info-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.f-info-links a {
    text-decoration: none;
    color: #555;
    font-size: 0.95rem;
    transition: 0.3s ease;
}

.f-info-links a:hover {
    color: #FF385C;
}

.divider {
    color: #bbb;
}

.card-link-wrapper{
    text-decoration: none;
}

.listing-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.06);
    cursor: pointer;
}

.listing-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}


.listing-img {
    height: 230px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.listing-card:hover .listing-img {
    transform: scale(1.05);
}


.card-body {
    padding: 1rem 1.2rem;
}


.card-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #333;
}


.card-price {
    font-size: 1rem;
    font-weight: 600;
    color: #FF385C;
}

.night-text {
    font-weight: 400;
    font-size: 0.9rem;
    color: #666;
}

/* ===== SHOW PAGE ===== */

.show-card {
    border-radius: 14px;
    overflow: hidden;
}

.show-img {
    height: 420px;
    object-fit: cover;
}

.price-highlight {
    color: #FF385C;
    font-weight: 600;
}