.custom-navbar {
    background-color: #ffffff;
    padding: 1.4rem 0;
    min-height: 85px;
    border-bottom: 1px solid #eee;
}


.brand-text {
    font-size: 2rem;
    color: #E63946 !important;
    letter-spacing: 1px;
}

.brand-icon {
    font-size: 1.8rem;
    color: #E63946;
}

.custom-link {
    color: #333 !important;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s ease;
}

.custom-link:hover {
    color: #E63946 !important;
}



footer {
    background-color: #ffffff;
    border-top: 1px solid #eee;
    padding: 2rem 0;
    margin-top: 60px;
}

.f-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.f-info-socials a {
    color: #555;
    font-size: 1.4rem;
    margin: 0 12px;
    transition: 0.3s ease;
}

.f-info-socials a:hover {
    color: #FF385C;
    transform: translateY(-3px);
}

.f-info-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.f-info-links a {
    text-decoration: none;
    color: #555;
    font-size: 0.95rem;
    transition: 0.3s ease;
}

.f-info-links a:hover {
    color: #FF385C;
}

.divider {
    color: #bbb;
}